<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shahul's Portfolio website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/styles.css'%}">
    <script src="https://kit.fontawesome.com/e29bf25393.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header">
        <div align="right" class="img"><img src="{% static 'images/PicsArt_08-20-04.35.08.jpg'%}" alt=""></div>
        <div class="container">
            <nav>
                <h1 class="name"> Shahul <span> Hameed</span></h1>
                <ul id="sidemenu">
                    <li><a href="#" onclick="closemenu()">Home</a></li>
                    <li><a href="#about" onclick="closemenu()">About</a></li>
                    <li><a href="#services" onclick="closemenu()">Service</a></li>
                    <li><a href="#portfolio" onclick="closemenu()">Portfolio</a></li>
                    <li><a href="#contact" onclick="closemenu()">Contact</a></li>
                    <i class="fa-regular fa-circle-xmark" onclick="closemenu()"></i>
                </ul>
                <i class="fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <h1>Hi, I'am <span>Shahul Hameed</span></h1><br>
                <p>Python/Django Developer</p><br>
                <p style="font-size: 15px; line-height:1.5rem;">I'm a web developer from Bangalore. I enjoy building
                    everything from small <br>business sites to rich interactive web apps. If you are a business seeking
                    a web<br>
                    presence or an employer looking to hire, you can get in touch with me.
                </p>
                <a href="#contact"> <input type="button" class="btn btn2" value="Contact Me"></a>
            </div>
        </div>
    </div>

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="{% static 'images/PicsArt_08-20-04.35.08.jpg'%}" alt="">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title" style="margin-bottom:1rem;">About Me</h1>
                    <p style="font-size: 15px; line-height:1.5rem; margin-top: 5px;">I'm specialised in creating
                        Web/Applications. I'm
                        a junior programmer with good
                        knowledge of back-end techniques using Django Framework.
                        I love structure and order and I also
                        stand for quality. I love spending
                        time on fixing little details and
                        optimizing web apps. Also I like
                        working in a team, you'll learn faster
                        and much more. As the saying goes:
                        'two heads are better than one'.
                    </p>
                    <div class="tab-titles">
                        <p class="tab-links active" onclick="show('skills')">Skills</p>
                        <!-- <p class="tab-links" onclick="show('projects')">Projects</p> -->
                        <p class="tab-links" onclick="show('education')">Education</p>
                    </div>
                    <div class="tab-contents active" id="skills">
                        <ul>
                            <li><span>Back-End Development</span>
                                <p class="clg1">Python and Django Framework</p>
                            </li>
                            <li><span>Front-End Development</span>
                                <p class="clg1">HTML, CSS, Javascript</p>
                            </li>
                            <li><span>Programming Languages</span>
                                <p class="clg1">Python, Java, C++</p>
                            </li>                            
                            <li><span>Database</span>
                                <p class="clg1">SQL Server, MongoDB</p>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="tab-contents" id="projects">
                        <ul>
                            <li><span>webfvfwvwf</span><br> Developer</li>
                            <li><span>python</span><br> Developer</li>
                            <li><span>html</span><br> Developer</li>
                            <li><span>css</span><br> Developer</li>
                        </ul>
                    </div> -->
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>2019-2022</span><br>
                                <p class="clg">SSMRV COLLEGE</p>Bachelor of Computer Application - 75.84%
                            </li>
                            <li><span>2018-2019</span><br>
                                <p class="clg">SSMRV PU COLLEGE</p> PUC (SEBA) - 72.5%
                            </li>
                            <li><span>2016-2017</span><br>
                                <p class="clg">MOTHERLAND ENGLISH HIGH SCHOOL</p> SSLC - 62.44%
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-globe"></i>
                    <h2>Front End <br>Web Developer</h2>
                    <!-- <p style="font-size: 15px; line-height:1.2rem; margin-top: 5px;">Electronics Service WebApp is a
                        web-based application. The purpose of this project is to provide doorstep services to customer
                        to save their time and efforts. Our main motive behind this project is to boost up the local
                        service market. It is an online service-based portal in which we provide doorstep services to
                        customer. Services regarding to repairing of defective electronics & electrical gadgets and
                        products.</p> -->
                </div>
                <div>
                    <i class="fa-solid fa-globe"></i>
                    <h2>Back End <br>Web Developer</h2>
                    <!-- <p style="font-size: 15px; line-height:1.2rem; margin-top: 5px;">Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Ut totam explicabo architecto veritatis
                        itaque. Voluptatibus error at libero quasi quidem, odio iure quod in laboriosam nobis, eveniet
                        adipisci repellat eius.</p> -->
                </div>
                <div>
                    <i class="fa-solid fa-globe"></i>
                    <h2>Full Stack <br>Web Developer</h2>
                    <!-- <p style="font-size: 15px; line-height:1.2rem; margin-top: 5px;">Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Ut totam explicabo architecto veritatis
                        itaque. Voluptatibus error at libero quasi quidem, odio iure quod in laboriosam nobis, eveniet
                        adipisci repellat eius.</p> -->
                </div>
            </div>
        </div>
    </div>

    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="{% static 'images/PicsArt_08-20-04.35.08.jpg'%}" alt="">
                    <div class="layer">
                        <h3>Electronics Service WebApp</h3>
                        <p style="font-size: 15px; line-height:1.2rem; margin-top: 5px;">Electronics Service WebApp is a
                            web-based application. The aim of this project is to buld a website where customer can book
                            an appointment to repair there electronic gadgets.</p>
                        <a href=""><i class="fa-sharp fa-solid fa-link"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{% static 'images/PicsArt_08-20-04.35.08.jpg'%}" alt="">
                    <div class="layer">
                        <h3>Courier Management System</h3>
                        <p style="font-size: 15px; line-height:1.2rem; margin-top: 5px;">Courier Management System is a
                            windows-based application. The purpose of the project is to
                            build an application to reduce the manual work for managing the Employees, Couriers,
                            Delivery.</p>
                        <a href=""><i class="fa-sharp fa-solid fa-link"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{% static 'images/PicsArt_08-20-04.35.08.jpg'%}" alt="">
                    <div class="layer">
                        <h3>Personal Protfolio Website</h3>
                        <p style="font-size: 15px; line-height:1.2rem; margin-top: 5px;">This Personal Portfolio Website
                            project is a Web-based Application. It displays the professional background of an
                            individual. It displays brief information about work experiences till date, education,
                            skills and contact details along with social media links.</p>
                        <a href=""><i class="fa-sharp fa-solid fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fa-solid fa-paper-plane"></i><a
                            href="mailto: shahul98869@gmail.com">shahul66649@gmail.com</a></p>
                    <p><i class="fa-solid fa-phone"></i><a href="tel:6362352363">6364074061</a></p>
                    <div class="social-icons">
                        <a href="https://github.com/shahul-hameed22"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/shahul-hameed-4670ab22b"><i
                                class="fa-brands fa-linkedin"></i></a>
                        <a href="whatsapp://send?phone=+916364074061"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="https://instagram.com/shahul.hameed22?igshid=YmMyMTA2M2Y="><i
                                class="fa-brands fa-instagram"></i></a>
                    </div>
                    <a href="{% static 'images/Shahul Hameed Resume.pdf' %}" download class="btn btn2">Download CV</a>
                </div>
                <div class="contact-right">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Your Name">
                        <input type="email" name="email" placeholder="Your Email">
                        <textarea name="message" rows="6" placeholder="Your Message"></textarea>
                        <input type="submit" class="btn btn2" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright @ shahul Hameed <i class="fa-solid fa-heart"></i></p>
        </div>
    </div>

    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");

        function show(tabname) {
            for (tablink of tablinks) {
                tablink.classList.remove("active");
            }
            for (tabcontent of tabcontents) {
                tabcontent.classList.remove("active");
            }
            event.currentTarget.classList.add("active");
            document.getElementById(tabname).classList.add("active");
        }

        var sidemenu = document.getElementById("sidemenu");

        function openmenu() {
            sidemenu.style.right = "0px";
        }

        function closemenu() {
            sidemenu.style.right = "-200px";
        }
    </script>

</body>

</html>